extends layout.pug

block content
	//- div.row.hide
	//- 	div.col-md-6.col-lg-3
	//- 		card(title='Activity Summary')
	//- 			div(style='width: 100%; height: 300px')
	//- 				radar-chart
	//- 	div.col-md-6.col-lg-9
	//- 		card(title='Activity Description')
	//- 			div.scroller
	//- 				p(style='height: 280px;')
	//- 					| nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
	//- 					br
	//- 					| nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
	//- 					br
	//- 					| nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
	div.row
		div.col-xs-12
			h4.title
				span(style='color: #fff;') Activity Summary #{packageName} -> #{activityName}
	div.row
		div.col-md-6
			card(title='One-depth User Flow' package-name=packageName activity-name=activityName resource-type='userflow')
				one-depth-user-flow
		div.col-md-6
			card(title='UI Rendering Elapsed Time' package-name=packageName activity-name=activityName resource-type='ui')
				dist-graph(type='rendering')
	div.row
		div.col-md-6
			card(title='CPU Usage' package-name=packageName activity-name=activityName resource-type='cpu')
				dist-graph(type='cpu')
		div.col-md-6
			card(title='Memory Usage' package-name=packageName activity-name=activityName resource-type='memory')
				dist-graph(type='memory')
	div.row
		div.col-md-6
			card(title='Network Outband Call' package-name=packageName activity-name=activityName resource-type='network')
				super-table(type='network')
		div.col-md-6
			card(title='Crash List' package-name=packageName activity-name=activityName resource-type='crash')
				super-table(type='crash')
block style
	style.
		body {
			/*background-color: #1b1c2e !important;*/
		}
		
prepend script